.form-control {
  font-family: Helvetica, "FontAwesome", sans-serif;
}

.search-box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.search-item {
  flex: 1;
}

.suggestions {
  list-style: none;
  margin-top: 0;
  max-height: 50vh;
  overflow-y: auto;
  padding-left: 0;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestions li:hover {
  background-color: #343a40;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

/* Large Screens */
@media (min-width: 981px) {
  #brewery-location {
    border-left: 0px !important;
  }
  .search-button-text {
    display: none;
  }
  .search-button .btn-dark {
    border-radius: 0px !important;
  }
}

/* Small Screens */
@media (max-width: 981px) {
  .search-box {
    display: flex;
    flex-direction: column;
  }
  .search-item {
    margin-top: 10px;
  }
  .search-button {
    margin-top: 10px;
    display: grid;
  }
}
