.form-control {
  font-family: Helvetica, "FontAwesome", sans-serif;
}

.search-box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.search-item {
  flex: 1;
}

/* Large Screens */
@media (min-width: 1100px) {
  #brewery-location {
    border-left: 0px !important;
  }
}

/* Small Screens */
@media (max-width: 1100px) {
  .search-box {
    display: flex;
    flex-direction: column;
  }
  .search-item {
    margin-top: 10px;
  }
  .search-button {
    margin-top: 10px;
  }
}
